@* news Template File *@
<div class="panel panel-default">
	<div class="panel-heading">Latest NEWS</div>
	<div class="panel-body">
			<ul class="nav">
				<li><a href="#">National Conf.</a></li>
				<li><a href="#">KnolX Session</a></li>
				<li><a href="#">Interns Outing</a></li>
				<li><a href="#">Interns Welcome</a></li>
			</ul>
	</div>
</div>

<div id="fb-root"></div>
<div class="fb-like-box" data-href="https://www.facebook.com/KnoldusSoftware" data-width="250" data-height="200" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="false"></div>
