@* showInformation Template File *@
@(record:User)

@showMonth(month:Int) = @{
	month match{
		case 0 =>{"Jan"}
		case 1 =>{"Feb"}
		case 2 =>{"Mar"}
		case 3 =>{"Apr"}
		case 4 =>{"May"}
		case 5 =>{"Jun"}
		case 6 =>{"Jul"}
		case 7 =>{"Aug"}
		case 8 =>{"Sep"}
		case 9 =>{"Oct"}
		case 10=>{"Nov"}
		case 11=>{"Dec"}
		case _ =>{"oO"}
	}
	
}

@main("Information"){

		
	<div>
		@logoutButton(record.Email)
	</div>
	
				<table class="table table-striped">
					<tr>
						<td>Name</td>
						<td>@record.Name</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>@record.Email</td>
					</tr>
					<tr>
						<td>Address</td>
						<td>@record.Address </td>
					</tr>
					<tr>
						<td>Phone</td>
						<td>@record.Phone </td>
					</tr>
					<tr>
						<td>Company</td>
						<td>@record.Company </td>
					</tr>
					<tr>
						<td>Created</td>
						<td>@record.Created.getDate-@showMonth(record.Created.getMonth())-@(record.Created.getYear+1900) 
						</td>
					</tr>			
					<tr>
						<td>Last Updated</td>
						<td>@record.Update.getDate-@showMonth(record.Update.getMonth())-@(record.Update.getYear+1900) </td>
					</tr>		
				</table>
			<a class="btn btn-danger" href=@routes.Application.updatePage() >Update</a>
	
	
}
