@* form Template File *@
@(computerForm: Form[User])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }
@main("SignUp Form"){
	<div class="panel panel-default">
		<div class="panel-heading">
			Sign Up Form
		</div>
		<div class="panel-body">
	    		@form(routes.Application.signUp(),'class -> "form form-horizontal", 'id->"Form",'method ->"post") {
		
	    	<div class="form-group">
	            @inputText(computerForm("Name"), '_label -> "Name",'class -> "form-control",'name->"Name")
	    	</div>
	    	<div class="form-group">
	            @inputText(computerForm("Address"), '_label -> "Address",'class -> "form-control",'name->"Address")
	    	</div>
	    	<div class="form-group">
	            @inputText(computerForm("Company"), '_label -> "Company",'class -> "form-control",'name->"Company")
	    	</div>
	    	<div class="form-group">
	            @inputText(computerForm("Email"), '_label -> "Email",'class -> "form-control",'name->"Email")
	    	</div>
	    	<div class="form-group">
	            @inputPassword(computerForm("Password"), '_label -> "Password",'class -> "form-control",'name->"Password")
	    	</div>
	    	<div class="form-group">
	            @inputText(computerForm("Phone"), '_label -> "Phone",'class -> "form-control",'name->"Phone")
	    	</div>
	    
	    	<div class="row">
	        	<div class="actions col-md-6">
	            	<input type="submit" value="Sign Up" class="btn btn-info">
	        	</div>
	        	<div class="col-md-6"></div>
	        </div>
	    	}
	    </div>
    </div>
}
